@import url(/assets/css/root.css);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    gap: 0;
}

body {
    display: flex;
    min-width: 79.5rem;
    flex-direction: column;
    align-items: flex-start;
    background: var(--background, #D9D9D9);
}

.paper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: var(--background, #D9D9D9);
    mix-blend-mode: exclusion;
}

.paper img {
    width: 100%;
    object-fit: cover;
}

.paper img:nth-child(2) {
    rotate: 180deg;
    transform: scaleX(-1);
}

.paper img:nth-child(3) {
    margin-top: -40px;
    transform: scaleX(1);
}


nav {
    display: flex;
    width: calc(100svw - 140px);
    top: 0;
    left: 0;
    margin: 70px 70px 0 70px;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
}

nav img {
    height: 5.933svh;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;
}

nav ul li a {
    text-decoration: none;
    font-family: var(--title);
    color: var(--primary-light);
    text-align: right;
    font-size: 3.236svh;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    align-self: stretch;
}

nav .socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.25rem;
    position: fixed;
    left: 70px;
    bottom: 60px;
}

nav .socials a {
    display: flex;
    padding: 1.079svh;
    align-self: center;
}

nav .socials a img {
    height: 3.452svh;
    mix-blend-mode: exclusion;
}

#hero {
    display: flex;
    z-index: 0;
    padding: 29.342svh 14.583svw 37.4326svh 10.9375svw;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

#hero p {
    color: var(--primary-light);
    text-align: center;
    font-family: var(--title);
    font-size: 4.315svh;
    font-weight: 400;
}

#hero .title {
    display: flex;
    flex-direction: column;
    margin-top: -21px;
    align-items: flex-start;
}

#hero .title h1 {
    color: var(--primary-light);
    font-family: var(--header);
    font-size: 16.181svh;
    font-style: normal;
    font-weight: 400;
}

#hero .title .mail-abilities {
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.main-sections {
    display: flex;
    z-index: 0;
    padding: 10.787svh 280px 10.787svh 210px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.main-sections h2 {
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 6.472svh;
    font-style: normal;
    font-weight: 400;
}

#about {
    margin-bottom: 35.1672svh;
}

#about .content {
    display: flex;
    padding-bottom: 2.589svh;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
}

#about .content .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
}

.content .about p {
    align-self: stretch;
    color: var(--primary-light);
    font-family: var(--content);
    font-size: 3.236svh;
    font-style: normal;
    font-weight: 274;
    letter-spacing: 0.03875rem;
}

#about .photos {
    display: flex;
    padding-left: 11.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.photo {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.photo1 {
    display: flex;
    flex-direction: row;
    margin-left: 240px;
    flex-shrink: 0;
}

.photo .polaroid, .photo .texture, .photo .img {
    position: absolute;
    rotate: -17.64deg;
}

.photo1 .polaroid, .photo1 .texture, .photo1 .img {
    position: absolute;
    rotate: 15deg;
}

.photo .texture, .photo .img {
    width: 15rem;
    height: 15rem;
    margin: 1.2rem 0 0 0.47rem;
}

.photo1 .texture, .photo1 .img {
    width: 15rem;
    height: 15rem;
    margin: 1.2rem 0 0 1.3rem;
}

.photo .texture, .photo1 .texture {
    mix-blend-mode: color-burn;
}

#abilities .abilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.abilities .ability {
    display: flex;
    padding: 6.041svh 3.25rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--primary-light);
}

.ability h3 {
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 5.394svh;
    font-style: normal;
    font-weight: 400;
}

.ability p {
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 3.236svh;
    font-style: normal;
    font-weight: 400; 
}

.abilities .ability:hover {
    background-color: var(--primary-light);
    mix-blend-mode: exclusion;
}

.ability * {
    mix-blend-mode: exclusion;
}

#works .works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.394svh;
    align-self: stretch;
}

.works .work {
    display: flex;
    padding: 6.041svh 3.25rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--primary-light);
}

.works .work:hover {
    background-color: var(--primary-light);
    mix-blend-mode: exclusion;
}

.work * {
    mix-blend-mode: exclusion;
}

.work h3 {
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 5.394svh;
    font-style: normal;
    font-weight: 400;
}

.work .tags {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2.03125svw;
}

.work .tags div {
    display: flex;
    padding: 1.079svh 1.5625rem;
    align-items: flex-start;
    border-radius: 3.125rem;
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    font-family: var(--content);
    font-size: 2.157svh;
    font-style: normal;
    font-weight: 110;
}

#reviews .reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.reviews .review {
    display: flex;
    padding: 6.041svh 3.25rem;
    justify-content: space-between;
    border: 1px solid var(--primary-light);
    flex-direction: column;
    align-items: flex-start;
    gap: 3.8125rem;
    align-self: stretch;
}

.reviews .review:hover {
    background-color: var(--primary-light);
    mix-blend-mode: exclusion;
}

.review * {
    mix-blend-mode: exclusion;
}

.review .content {
    align-self: stretch;
    color: var(--primary-light);
    font-family: var(--content);
    font-size: 6svh;
    font-style: normal;
    font-weight: 400;
}

.review .reviewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.079svh;
}

.reviewer .name {
    color: var(--primary-light);
    font-family: var(--content);
    font-size: 2.697svh;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.reviewer .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reviewer p {
    color: var(--grey);
    font-family: var(--content);
    font-size: 2.697svh;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

#contact {
    display: flex;
    padding: 7.551svh 0rem 12.945svh 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

#contact .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact .content h4 {
    position: absolute;
    left: 11.97916svw;
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 5.394svh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .main {
    display: flex;
    padding: 6.688svh 0rem 0rem 1.5625svw;
    flex-direction: column;
    align-items: center;
}

.main a {
    color: var(--primary-light);
    text-decoration: none;
    text-align: center;
    font-family: var(--title);
    font-size: 21.575svh;
    font-style: normal;
    font-weight: 400;
}

.main .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.394svh;
    align-self: stretch;
}

.main .bottom .divisor {
    display: flex;
    gap: 4.583svw;
    align-items: center;
    align-self: stretch;
}

.bottom .divisor hr {
    flex: 1 0 0;
    border-radius: 2svh;
    border: 0.129svh solid var(--primary-light);
}

.bottom .divisor h3 {
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 4.315svh;
    font-style: normal;
    font-weight: 400;
}

.main .bottom .contact-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.main .bottom .contact-socials a {
    color: var(--primary-light);
    font-family: var(--title);
    font-size: 4.315svh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}